<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Toilette</title>
</head>
<body style="margin: 0; padding: 0; display: flex; justify-content: center; align-items: center; height: 100vh;">
  <img src="https://i.pinimg.com/originals/84/97/29/8497293ced0ea66450bae66185a8370a.gif" alt="Toilette" style="max-width: 100%; height: auto;">
</body>
</html>
